{% extends "base.html.twig" %}

{% block title %}
    Modifier un bénéficiaire
{% endblock %}

{% block beneficiary %}active{% endblock %}

{% block body %}

<h1>Modifier un bénéficiaire</h1>

{{ include('back/user/_form.html.twig') }}

{% endblock %}