{% extends "base.html.twig" %}

{% block title %}
    Ajouter un Bénévoles
{% endblock %}

{% block volunteer %}active{% endblock %}

{% block body %}

<h1>Ajouter un bénévoles</h1>

{{ include('back/user/_form.html.twig') }}

{% endblock %}